.cmodal {
    display: block;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /* Usar vh ao invés de % */
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: hidden;
}

.modal-ccontent {
    background: white;
    position: fixed; /* Mudar para fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centralizar na tela */
    padding: 20px;
    width: 80%;
    height: 85vh; /* Usar vh ao invés de % */
    max-width: 800px;
    border-radius: 10px;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: calc(100% - 30px); /* Ajustar altura considerando o botão de fechar */
    border-radius: 10px;
    border: none;
    overflow-X: hidden;
}

.cclose {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
    z-index: 10000; /* Garantir que fique acima do iframe */
}
